{% extends 'base.html' %}


{% block title %}
about
{% endblock %} 

{% block header %}
<h1>Welcome to KUCC</h1> 
{% endblock %} 

{% block nav %}
<a class="nav-link " href="{% url 'home' %}">home</a>
<a class="nav-link" href="{% url 'Segments' %}">Segments</a>
<a class="nav-link" href="{% url 'notice' %}">Notice</a>
<a class="nav-link" href="{% url 'book' %}">Library</a>
<a class="nav-link disabled" href="{% url 'about' %}">About Us</a>
{% if user.is_authenticated %}

<a class="nav-link" href="{% url 'logout' %}">Log Out</a>
<p>Hello, {{user.first_name}}</p>
{% else %}
<a class="nav-link" href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %} 

{% block bodyleft %}
{% for use in User %}
<div class="card" style="width:400px">
    <img class="card-img-top" src="{{use.UserImage.url}}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{use.UserName}}</h4>
      <p class="card-text">{{use.Description}}</p>
      <p class="card-text">Contact: {{use.PhoneNumber}}</p>
      <p class="card-text">Email: {{use.email}}</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <br>  <br>
  {% endfor %}
  <br>

{% endblock %} 

{% block footer %}
All Rights Reserved To Khulna University Career Club
{% endblock %} 